In [1]:
import numpy as np
import pandas as pd

In [2]:
fn_train=pd.read_csv(r'C:\Users\HP\Downloads\train.csv')
fn_train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [3]:
fn_test=pd.read_csv(r'C:\Users\HP\Downloads\test.csv')
fn_test.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [4]:
fn_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Columns: 194 entries, id to texture64
dtypes: float64(192), int64(1), object(1)
memory usage: 1.5+ MB

In [5]:
fn_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Columns: 193 entries, id to texture64
dtypes: float64(192), int64(1)
memory usage: 895.8 KB

In [7]:
fn_train.shape

(990, 194)

In [8]:
fn_test.shape

(594, 193)

In [10]:
fn_train.isnull().sum().value_counts()

0    194
dtype: int64

In [14]:
fn_test.isnull().sum().value_counts()

0    193
dtype: int64

In [15]:
fn_train.describe()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
count,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,...,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000
mean,799.595960,0.017412,0.028539,0.031988,0.023280,0.014264,0.038579,0.019202,0.001083,0.007167,...,0.036501,0.005024,0.015944,0.011586,0.016108,0.014017,0.002688,0.020291,0.008989,0.019420
std,452.477568,0.019739,0.038855,0.025847,0.028411,0.018390,0.052030,0.017511,0.002743,0.008933,...,0.063403,0.019321,0.023214,0.025040,0.015335,0.060151,0.011415,0.039040,0.013791,0.022768
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,415.250000,0.001953,0.001953,0.013672,0.005859,0.001953,0.000000,0.005859,0.000000,0.001953,...,0.000000,0.000000,0.000977,0.000000,0.004883,0.000000,0.000000,0.000000,0.000000,0.000977
50%,802.500000,0.009766,0.011719,0.025391,0.013672,0.007812,0.015625,0.015625,0.000000,0.005859,...,0.004883,0.000000,0.005859,0.000977,0.012695,0.000000,0.000000,0.003906,0.002930,0.011719
75%,1195.500000,0.025391,0.041016,0.044922,0.029297,0.017578,0.056153,0.029297,0.000000,0.007812,...,0.043701,0.000000,0.022217,0.009766,0.021484,0.000000,0.000000,0.023438,0.012695,0.029297
max,1584.000000,0.087891,0.205080,0.156250,0.169920,0.111330,0.310550,0.091797,0.031250,0.076172,...,0.429690,0.202150,0.172850,0.200200,0.106450,0.578130,0.151370,0.375980,0.086914,0.141600

In [16]:
fn_test.describe()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
count,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,...,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000
mean,780.673401,0.017562,0.028425,0.031858,0.022556,0.014527,0.037497,0.019222,0.001085,0.007092,...,0.035291,0.005923,0.015033,0.011762,0.015881,0.011217,0.002617,0.019975,0.009389,0.020970
std,465.646977,0.019585,0.038351,0.025719,0.028797,0.018029,0.051372,0.017122,0.002697,0.009515,...,0.064482,0.026934,0.022318,0.024771,0.014898,0.052530,0.011204,0.034704,0.013457,0.023407
min,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,368.500000,0.001953,0.001953,0.013672,0.005859,0.001953,0.000000,0.005859,0.000000,0.001953,...,0.000000,0.000000,0.000977,0.000000,0.004883,0.000000,0.000000,0.000000,0.000000,0.000977
50%,774.000000,0.009766,0.010743,0.023438,0.013672,0.007812,0.013672,0.015625,0.000000,0.005859,...,0.003906,0.000000,0.005859,0.001953,0.012695,0.000000,0.000000,0.003418,0.002930,0.013184
75%,1184.500000,0.028809,0.041016,0.042969,0.027344,0.019531,0.056641,0.029297,0.000000,0.007812,...,0.038086,0.000000,0.019531,0.010498,0.022461,0.000000,0.000000,0.022461,0.014648,0.032227
max,1583.000000,0.085938,0.189450,0.167970,0.164060,0.093750,0.271480,0.087891,0.021484,0.083984,...,0.353520,0.441410,0.153320,0.177730,0.083984,0.606450,0.123050,0.247070,0.086914,0.149410

In [17]:
fn_train['species'].nunique()

99

In [32]:
train_ids = fn_train.id
fn_train = fn_train.drop(['id'], axis =1)
test_ids = fn_test.id
fn_test = fn_test.drop(['id'], axis =1)

In [33]:
x = fn_train.drop('species',axis=1)
y = fn_train['species']

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_fit = le.fit(fn_train['species'])
y_label = y_fit.transform(fn_train['species']) 
classes = list(y_fit.classes_)

In [35]:
from sklearn.model_selection import  train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y_label, test_size = 0.2, random_state =1)

In [36]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 40)
classifier.fit(x_train, y_train)

RandomForestClassifier(n_estimators=40)

In [37]:
from sklearn.metrics import classification_report
predictions = classifier.predict(x_test)
print (classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         1
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         3
           4       0.75      1.00      0.86         3
           5       1.00      1.00      1.00         2
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         1
           8       1.00      1.00      1.00         1
           9       1.00      1.00      1.00         3
          10       0.50      1.00      0.67         1
          11       1.00      1.00      1.00         3
          12       0.75      1.00      0.86         3
          13       1.00      1.00      1.00         2
          14       1.00      1.00      1.00         2
          15       1.00      1.00      1.00         2
          16       1.00      1.00      1.00         2
          17       1.00      1.00      1.00         1
          18       1.00      1.00      1.00         3
          19       1.00      1.00      1.00         2
          20       1.00      0.80      0.89         5
          21       1.00      1.00      1.00         3
          22       1.00      1.00      1.00         3
          23       1.00      1.00      1.00         3
          24       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         1
          26       0.75      1.00      0.86         3
          27       1.00      1.00      1.00         1
          28       1.00      1.00      1.00         3
          30       1.00      1.00      1.00         2
          31       1.00      1.00      1.00         1
          32       1.00      1.00      1.00         2
          33       1.00      1.00      1.00         5
          34       0.00      0.00      0.00         1
          36       1.00      1.00      1.00         2
          37       1.00      0.50      0.67         2
          39       0.60      1.00      0.75         3
          40       1.00      1.00      1.00         2
          41       1.00      0.75      0.86         4
          42       1.00      1.00      1.00         2
          43       1.00      1.00      1.00         1
          44       1.00      1.00      1.00         1
          45       1.00      1.00      1.00         2
          46       1.00      1.00      1.00         2
          47       1.00      1.00      1.00         2
          48       1.00      1.00      1.00         3
          49       1.00      0.50      0.67         2
          50       1.00      1.00      1.00         2
          52       1.00      1.00      1.00         1
          53       1.00      1.00      1.00         3
          54       1.00      0.83      0.91         6
          55       1.00      1.00      1.00         1
          56       1.00      1.00      1.00         1
          58       1.00      1.00      1.00         1
          59       1.00      1.00      1.00         3
          60       1.00      1.00      1.00         2
          61       1.00      1.00      1.00         5
          62       1.00      1.00      1.00         2
          63       1.00      1.00      1.00         3
          64       1.00      0.50      0.67         2
          65       1.00      1.00      1.00         4
          66       1.00      1.00      1.00         2
          68       1.00      1.00      1.00         1
          69       1.00      1.00      1.00         2
          70       1.00      1.00      1.00         2
          71       1.00      1.00      1.00         2
          72       1.00      1.00      1.00         1
          73       1.00      1.00      1.00         1
          74       1.00      1.00      1.00         1
          75       1.00      1.00      1.00         1
          76       1.00      1.00      1.00         1
          77       1.00      1.00      1.00         2
          78       1.00      1.00      1.00         2
          79       1.00      1.00      1.00         1
          81       1.00      1.00      1.00         1
          82       1.00      1.00      1.00         2
          83       1.00      1.00      1.00         2
          84       1.00      1.00      1.00         1
          85       1.00      1.00      1.00         1
          86       1.00      1.00      1.00         2
          87       1.00      1.00      1.00         2
          88       1.00      1.00      1.00         1
          89       1.00      1.00      1.00         3
          90       1.00      1.00      1.00         2
          91       1.00      1.00      1.00         1
          92       1.00      1.00      1.00         2
          93       0.75      1.00      0.86         3
          94       1.00      1.00      1.00         3
          95       1.00      1.00      1.00         4
          96       1.00      1.00      1.00         3
          97       1.00      1.00      1.00         2
          98       1.00      1.00      1.00         2

    accuracy                           0.96       198
   macro avg       0.97      0.97      0.96       198
weighted avg       0.97      0.96      0.96       198

C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [38]:
final_predictions = classifier.predict_proba(fn_test)
submission = pd.DataFrame(final_predictions, columns=classes)
submission.insert(0, 'id', test_ids)
submission.reset_index()

,index,id,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
0,0,4,0.0,0.000,0.00,0.00,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000
1,1,7,0.0,0.025,0.05,0.05,0.025,0.000,0.025,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000
2,2,9,0.0,0.675,0.00,0.00,0.025,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000
3,3,12,0.0,0.000,0.00,0.00,0.000,0.000,0.025,0.000,...,0.0,0.025,0.000,0.000,0.000,0.000,0.125,0.0,0.000,0.000
4,4,13,0.0,0.025,0.00,0.00,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.025,0.000,0.025,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,589,1576,0.0,0.575,0.00,0.00,0.050,0.025,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.025
590,590,1577,0.0,0.025,0.00,0.05,0.000,0.000,0.000,0.025,...,0.0,0.000,0.075,0.000,0.000,0.050,0.025,0.0,0.000,0.000
591,591,1579,0.0,0.000,0.00,0.00,0.125,0.000,0.000,0.000,...,0.0,0.000,0.025,0.025,0.000,0.000,0.000,0.0,0.025,0.000
592,592,1580,0.0,0.000,0.00,0.00,0.000,0.000,0.025,0.000,...,0.0,0.050,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000
593,593,1583,0.0,0.000,0.00,0.00,0.000,0.025,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.025,0.000,0.0,0.000,0.025

In [40]:
submission.head()

,id,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
0,4,0.0,0.000,0.00,0.00,0.000,0.0,0.000,0.0,0.000,...,0.0,0.000,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0
1,7,0.0,0.025,0.05,0.05,0.025,0.0,0.025,0.0,0.000,...,0.0,0.000,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0
2,9,0.0,0.675,0.00,0.00,0.025,0.0,0.000,0.0,0.000,...,0.0,0.000,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0
3,12,0.0,0.000,0.00,0.00,0.000,0.0,0.025,0.0,0.075,...,0.0,0.025,0.0,0.0,0.000,0.0,0.125,0.0,0.0,0.0
4,13,0.0,0.025,0.00,0.00,0.000,0.0,0.000,0.0,0.150,...,0.0,0.000,0.0,0.0,0.025,0.0,0.025,0.0,0.0,0.0

In [41]:
submission.to_csv('result.csv', index = False)